:root {
    --footer-color: #f2f2f2;
}

* {
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    -webkit-font-smoothing: antialiased;
    background: white;
    color: black;
}

ul {
    list-style: none;
}

h1, h2, h3, h4 {
    color: black;
}

h2 {
    font-size: 2.7rem;
}

a {
    color: black;
    text-decoration: none;
}

p {
    margin: 0.5rem 0;
}

img {
    width: 100%;
}

/* Container */
.container {
    max-width: 85%;
    margin:auto;
    overflow: hidden;
}

/* Navication Bar */
.mainNav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding: 20px 0;
    font-size: 13px;
    color: blue;
}

.mainNav .logo {
    width: 140px;
    padding: 1rem;
}

.mainNav ul {
    display: flex;
}

.mainNav ul li {
    padding: 0 10px;
    
}

.mainNav ul li a {
    padding-bottom: 2px;
}

.mainNav ul li a:hover {
    border-bottom: 2px solid black;
}

.mainNav ul.main-menu {
    flex: 1;
    margin-left: 20px;
    color: blue;
}

/* Covid info */
.covid {
    background: rgb(61, 101, 153);
    display: flex;
    align-items: center;
    justify-content: center;
    border: dashed 1px transparent;
}

.covid a p {
    color: white;
    padding: 0.4rem 1rem;  
    font-size: 0.8rem;
}

.covid:hover {
    border: dashed 1px white;
}

.covid a:hover {
    text-decoration: underline white;
}


/* Showcase 1 */
.showcase {
    width: 100%;
    height: 69vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
    justify-content: left;
}

.showcase-1 {
    background: url("../img/show1.png") no-repeat center center/cover;
    margin-bottom: 20px;
    text-decoration: none;
    text-transform: none;
}

.showcase-1 .content{
    position: absolute;
    top: 30%;
    left: 5%;
}

.showcase-1 p {
    margin-bottom: 1rem;
}

.showcase-2 {
    width: 100%;
    background: url("../img/show2.png") no-repeat center center/cover;
    margin-bottom: 20px;
    text-decoration: none;
    text-transform: none;
}

.showcase-2 .content{
    width: 30%;
    position: absolute;
    top: 20%;
    left: 5%;
}

.showcase-2 p {
    margin: 10px 0 20px;
}

.showcase-3 {
    width: 100%;
    background: black;
    
    margin-bottom: 20px;
    text-decoration: none;
    text-transform: none;
}

.showcase-3 .content{
    width: 80%;
    position: absolute;
    top: 75%;
    left: 50%;
    justify-content: center;
    align-items: center;
    text-align: center;
    transform: translate(-50%, -50%);
}

.showcase-3 h2{
    color: white;
    margin-bottom: 2rem;
}

/* Icon row logos */
.icon-row {
    margin: 2rem 20rem;
}

.icon-row img {
    width: 40px;
}

.row ul {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    align-items: center;
    justify-content: center;
    text-align: center;
    grid-column-gap: 5rem;
}

.row ul li {
    height: 100%;
    width: 100%;
    grid-gap: -2rem;
    align-items: stretch;
    justify-content: stretch;
}

.row ul li a:hover{
    text-decoration: underline black;
}


/* Cards Layout Boxes */
.card-layout {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    margin-bottom: 40px;
}

.card-layout h3 {
    margin-top: 1rem;
}

.card-link {
    color: blue;
    padding-right: 1.5rem;
}

.card-link-flex {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 500px;
}

.card-link span:hover {
    border-bottom: 1px blue solid;
    padding-bottom:3px;
    padding-right:0.5rem;
    transition-duration: 0.3s;
}

/* Social Media */
.social-media {
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
}

.social-media a {
    margin: 0.3rem 0.5rem;
}

.muted {
    color: #999;
}


/* Lnks */
.links {
    background-color: var(--footer-color);
    font-size: 12px;
    padding: 35px 0;
    margin-top: 3rem;
}

.links-inner ul li h3, .links-inner ul li a{
    color: #757575;
}

.links-inner {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    width: 100%;
    line-height: 2rem;
}


/* Footer */
.footer {
    background-color: var(--footer-color);
    font-size: 12px;
    padding: 2rem 0;
}

.footer-inner {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer div {
    display: flex;
    align-items: left;
}
  
.footer div i {
    margin-right: 10px;
    color: #757575;
}

.footer div a {
    padding-top: 3px;
    color: #757575;
}

.footer ul {
    display: flex;
    flex-wrap: wrap;
}

.footer li {
    margin-right: 30px;
    color: #757575;
}

.footer a:hover, .links a:hover{
    text-decoration: underline;
}

/* Text styles */
.text-lg {
    font-size: 1.8rem;
    margin-top: 3rem;
    margin-bottom: 1rem;
}

/* Buttons */
.btn {
    display: inline-block;
    color:white;
    padding: 0.7rem 0.2rem;
    font-size: 1rem;
    text-align: center;
    border: none;
    cursor: pointer;
    outline:none;
    border-radius: 2px;
    width: 150px;
}

.btn:hover {
    opacity: .9;
}

.btn-dark {
    background: black;
}

.btn-light {
    background: white;
    color: black;
}

.btn span:hover {
    border-bottom: 2px white solid;
    padding-bottom:2px;
    margin-right:0.5rem;
    transition-duration: 0.3s;
}

.btn-light span:hover {
    border-bottom: 2px black solid;
    padding-bottom:2px;
    margin-right:0.5rem;
    transition-duration: 0.3s;
}



@media(max-width: 700px) {
    .showcase::after{
        box-shadow: inset 40px 40px 100px #000000, inset -40px -40px 100px #000000;
    }

    #tab-1-content .tab-1-content-inner{
        grid-template-columns: 1fr;
        text-align: center;
    }

    #tab-2-content .tab-2-content-top {
        display: block;
        text-align: center;
    }

    #tab-2-content .tab-2-content-bottom {
        grid-template-columns: 1fr;
    }
}